@font-face {
    font-family: poppins-bold;
    src: url(Poppins-ExtraBold.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family: cairo-bold !important;
}
@font-face {
    font-family: poppins;
    src: url(Poppins.ttf);
}
@font-face {
    font-family: cairo;
    src: url(Cairo-Regular.ttf);
}
@font-face {
    font-family: cairo-bold;
    src: url(Cairo-ExtraBold.ttf);
}
*,p,a{
    font-family: cairo !important;
}

.j-footer{
    background-color: #222;
    min-height: 50px;
    margin-top: 2px;

}
.j-footer img{
    display: block;
    margin: auto;
    max-width: 200px;
}

.j-footer small{
    color: #F8F9FC;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: block;
    margin-top: 8px;
}

*{
    direction: rtl;
}

  body {
    background-color: #f1f1f1;
    padding-top: 62.5px;
  }

  .mt-6 {
    margin-top: 10px;

  }

  .mt-img {
    margin-top: 125px;
  }

  .yello {
    width: 100%;
    height: 5px;
    background-color: #faad16;
    max-width: 468px;
    border-radius: 2.5px;
  }

  .white {
    width: 100%;
    height: 5px;
    background-color: #fff;
    display: flex;
    max-width: 468px;
    border-radius: 2.5px;
  }

  .black {
    width: 100%;
    height: 5px;
    background-color: #222;
    display: flex;
    border-radius: 2.5px;
  }

  .yellow {
    width: 100%;
    height: 4px;
    background-color: #faad16;
    display: flex;
    border-radius: 2px;
  }

  .nav-item{
        margin-left: 15px;
    }

  .nav-item a{
        font-weight: 300;
        font-size: 14px;
        color: #222;
    }

    .nav-item a:focus{
        color:#000;
        font-weight: 500;
    }

  .card {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #222;
    flex-wrap: nowrap;
    max-width: 100%;
    min-height: 0px !important;
    height: auto !important;
    scroll-snap-align: center;

  }

  .btn:hover{
    background-color: #faad16;
    opacity: 0.9;
    transition: 0.2s;
  }

  .bg-yellow {
    background-color: #faad16;
  }

 .cardsContainer{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
    padding: 0 !important;
 }
 
 
  @media (max-width:768px){
    .cardsContainer{
            scroll-snap-type:x mandatory;
            grid-auto-flow: column !important;
            grid-auto-columns: 300px !important;
            overflow-x: scroll !important;
            grid-template-columns: none;
            width: 95% !important;
        }
    .tog{
      display: none;
    }
  }

  .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23faad16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23faad16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    }

  .customersCont{
    background-color: #222;
    min-height: 100px;
    width: 100% !important;
    box-sizing: border-box;
  }

  .customers{
    display:grid;
    width: 85%;
    margin: auto;
    grid-auto-flow: column !important;
    grid-auto-columns: 18% !important;
    overflow-x: scroll !important;
    gap: 25px;
    box-sizing: border-box;
  }

  .customers::-webkit-scrollbar{
    display: none;
  }

  .solutions{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .solution{
    display: flex;
    border: #fff solid 1px;
    border-radius: 4px;
    min-height: 10px;
    color: #faad16;
    text-decoration: none;
    justify-content: space-evenly;
  }
  .solution:hover{
    opacity: 0.9;
    transition: 0.3s;
    color: #faad16 !important;
    background-color: #ffffff22 !important;
  }

  .cardsContainer::-webkit-scrollbar{
    display: none;
  }

  .cont{
    width: 75%;
    margin: auto;
    
}
.line{
    width: 100%;
    border-top: 1px #000 solid;
}
.main-text{
    width: 45%;
}
.j-img{
    width: 45%;
}

.nav-item{
    margin-left: 15px;
}

.nav-item a{
    font-weight: 300;
    font-size: 14px;
    color: #222;
}

p{
    text-align: justify !important;
}
.bg-yellow{
    background-color: #faad16;
}
@media only screen and (max-width: 768px) {
    .cont{
        width: 90%;
        display: block;
    }
    .main-text{
        width: 100%;
        margin: auto;
    }
    .j-img{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .sol-img{
        width: 100%;
        height: auto !important;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
      }
}
.card-btn{
    color: #222;
    padding: 4px 40px;
    background-color: #faad16;
    font-weight: 300 !important;
    font-family: cairo;
    font-size: 14px;
}

.sol-img{
    max-width: 450px;
    float:left;
  }

  p{
    text-align: justify !important;
    font-size: 15px;
    font-weight: 500;
}

.li{
    font-weight: 500;
    font-size: 15px;
    text-align: justify;
}
ol{
    text-align: justify;
}

.card-footer{
    background-color:transparent; 
    border: none;
  }
  .card-footer .btn:hover{
      background-color: #faad16 !important;
      color: #222;
  }
